<div class="wrapper full">
  <div class="container">
    <header class="header grid grid-50">
        <div class="site-name grid-item">
          {{#link-to 'index'}}
                The Eclectic Meme Conspiracy
          {{/link-to}}
        </div>
        <div class="menu grid-item">
            <div class="links">
                {{#link-to 'phasers'}}
                    Phasers
                {{/link-to}}
            </div>
        </div>
    </header>
  </div>
</div>


