<header class="wrapper">
    <div class="menu">
        {{#link-to 'index'}}
            <h1>
                logo
            </h1>
        {{/link-to}}
        <div class="links">

            {{#link-to 'articles'}}
                Articles
            {{/link-to}}

            {{#link-to 'pages'}}
                Pages
            {{/link-to}}

            {{#link-to 'phasers'}}
                Phasers
            {{/link-to}}
        </div>
    </div>
</header>