<div class="wrapper">
    <div class="container article">
        <h2>Phasers</h2>
        <div class="grid">
            {{#each phasers as |phaser|}}
                <h1>{{phaser.title}} - {{phaser.emc23_ref}}</h1>
                <div class="{{phaser.emc23_ref}}">

                  <div id="world"></div>

                </div>
            {{/each}}
        </div>
    </div>
</div>
{{outlet}}
