@import "_settings";

.category {
  margin: 0;
  text-align: right;
}

ul.tags {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;

  li {
    display: inline-block;
    // coma separated inline list
    &::after {
      content: ','
    }
    &:last-child::after {
      content: ''
    }
  }

}


.collections ul {
  font-family: $neutron;

  li {
    padding: 0 0 1rem;
  }

}

.collections,
.footer,
.subscribe,
.features,
.promoted,
.themes {
  padding: 1rem 0 2rem;
}

.footer,
.collections {
  background: $dark;
  color: $white-off;
}

.subscribe {
  background: $grey-med;
}

.highlight,
.banner {
  padding: 2rem 0;
  background: $dark;
  color: $white-off;

  h3 {
    font-size: 200%;
  }

}

.banner {
  margin-bottom: 2rem;
}

.features {
  padding: 2rem 0;
  background: $dark;
  color: $white-off;
}

.page-title h1 {
  margin: 0 0 2rem;
}

.highlight.full {
  background: $dark;
  color: $white-off;
}