@import "_settings";

header {
  //background: $black-rich;
  color: $white-off;
  width: 100%;

  h1 {
    margin: 0 0 1rem;
    font-size: 24px;
    font-weight: 400;
    color: $white-grey;
    span {
      font-size: 16px;
      text-transform: uppercase;
      display: block;
      clear: left;
    }
  }

  .menu {
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

  }

  > a {
    display: flex;
  }

  .links {
    font-size: 18px;
    display: inherit;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: $neutron;

    a {
      display: block;
      color: $white-off;

      &.active {
        color: $teal;
        position: relative;
        &::after {
          content: "●";
          display: block;
          text-align: center;
        }
      }
    }

  }

}


.site-name {
  float: right;
  padding: 2.5rem;
  @include link($white, $white-off, $white, $white-off, none);

  a {
    display: block;
    text-decoration: none;
    font-family: 'Neutron Demo', sans-serif;
    //font-family: 'Roboto Mono', monospace;
    text-transform: lowercase;
    font-size: 2rem;
    line-height: 0.9;
    font-weight: 500;
    text-align: right;
    text-shadow: 3px 3px 3px $dark;
    display: block;
    max-width: 30rem;
    transition: text-shadow 1s ease-out;

    &:hover {
      text-shadow: 4px 4px 4px $dark;
    }
  }

}