@mixin link ($link, $visit, $hover, $active, $text-decoration) {
  a {
    text-decoration: $text-decoration;
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}