h1 {
  color: $white-off;
  font-family: $neutron;
  font-weight: 500;
}

h2 {
  color: $white-off;
  font-family: $neutron;
  font-weight: 500;
}

h3 {
  color: $white-off;
  font-family: $neutron;
  font-weight: 500;
}

h4 {
  color: $white-grey;
  font-family: $neutron;
  font-weight: 500;
}