<div class="wrapper">
    <div class="container article">
        <h2>Index</h2>
        <ul class="grid">
            {{#each pages as |page|}}
                <h1>{{page.title}}</h1>
                <p>{{page.body}}</p>
            {{/each}}
        </ul>
    </div>
</div>
{{outlet}}
